@keyframes FadeLeft { 0%   {opacity:20%;transform: translateX(-700px);}25%  {}50%  {} 75%  {}100% {} }
@keyframes FadeRight {0%   {opacity:20%;transform: translateX(700px);}25%  {}50%  {}75%  {}100% {}}

html,
body {
 overflow-x: hidden;
	font-family: "Josefin Sans", sans-serif;
	  font-optical-sizing: auto;
  font-style: normal;
  margin:0;
  padding:0;
}
body{
	overflow-x: hidden;
	background-color:rgb(2, 4, 37);
}
#topParagraph{
	font-size:45px;
	margin:30px;
	margin-right:30%;
	width:80vw;
}
.gradientBackground{
	left:0;
	top:0;
	z-index:-1000;
	height:100vh;
	width:100vw;
	position:fixed;
	background-image:linear-gradient(135deg,#181487 0%,purple 99%);
	padding:0;
}
#stars{
 /* delete later*/
    filter: invert(100%);
    background-image: url(stars.png);
    width:200vw;
    height:200vh;
    background-size: 250px;
    position:fixed;
    top:-50%;
    left:-50%;
    transform: rotateZ(20deg);
    opacity: 40%; /*originally set to 40*/
	overflow:hidden;
	z-index:-100;
}
#starholder{
	height:100vh;
	top:0;
	left:0;
	position:absolute;
	overflow:hidden;
	width:100vw;
	z-index:-100;
	margin:0;
	padding:0;
}
.topwrapper{
	display:flex;
	align-items: center;
	height:150px;
}
.title{
	line-height: 2px;
	height:90px;
	padding:none;
	margin-left:30px;
	color:white;
	font-size:min(5vw,80px);
	display:inline-flex;
	vertical-align:center;
	align-items: center;
	text-align: center;
	position:relative;
	top:10px;
	bottom:4px;
}
.titlewrapper{
	height:100%;
	display:inline-flex;
	vertical-align:center;
	align-items: center;
}
.topwrapper{
	display:inline-flex;
	width:95vw;
	margin-bottom:2px;
}
.buttonwrapper{
	position:relative;
	top:14px;
	height:100%;
	color:white;
	display:inline-flex;
	align-items: center;
	vertical-align:center;
	justify-content:right;
	flex-grow: 0.6;
	padding:0;
}
.linkimage{
	width:var(--height);
	height:var(--height);
	margin:none;
	border-radius: 200px; /* need this for normal border */
	line-height: 1em;
}
.linkbutton{
	line-height: 1em;
	border-radius: 200px; /* need this for glowy border */
	--height:min(5vw,80px);
	text-align:center;
	margin:20px;
	position:relative;
	cursor:pointer;
	top:0px;
}
@media (hover: hover) {
.linkbutton:hover{
	--height:min(6vw,85px);
	margin: calc(20px - (min(6vw,85px) / 2 - min(5vw,80px) / 2));
	box-shadow: 0 0 12px 1px white;
}
}
button {
display:inline;background:none; 
    border:none;
	font-size:35px;
	color:#8fdef2;
       background: none;
       border: none;
       text-align:center;
       margin-right:20px;
	cursor:pointer;
	font-family: "Josefin Sans", sans-serif;
	  font-optical-sizing: auto;
  font-style: normal;
        }
button:hover {
 color: white;
}
.buttonFlex{
--border:2px dotted;
border-image:-webkit-linear-gradient(0deg,#15106b 0%,rgb(73, 2, 73) 99%) 10;
border-top:var(--border);
border-bottom:var(--border);
border-radius:10px;
display:inline-flex;
width:100vw;
white-space:nowrap;
overflow-x:auto;
}
#yearHeading{
	flex-shrink: 0;
	display:inline;
	color:white;
	font-size:40px;
	margin:30px;
	width:max-content;
}
#All {
 color: white;
}
h1{
font-family: "Sarala", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.projectBox {
--opacty:0.3;
box-shadow: 2px 2px 50px 2px rgba(0, 0, 0, 0.5);
width:95vw;
animation-duration:2s;
background-image:linear-gradient(135deg,rgba(24, 20, 135, var(--opacty)) 0%,rgba(100, 20, 128, var(--opacty)) 99%);
color:white;
display:grid;
grid-template-columns: 400px 1fr 10px;
grid-template-rows: 50px 1fr;
grid-column-gap: 50px;
grid-row-gap: 0px;
align-items:start;
margin:20px;
z-index:100;
}
.projectText{
font-size:50px;
	vertical-align:top;
		grid-column: span 2;
	padding:10px;
	display:inline;
	margin:0;
	margin-left:20px;
	 font-family: "Josefin Sans", sans-serif;
	  font-optical-sizing: auto;
  font-style: normal;
}
p{font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
font-style: normal;}
span{
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
font-style: normal;
}
.topText{
	color:white;
	 font-family: "Josefin Sans", sans-serif;
	  font-optical-sizing: auto;
  font-style: normal;
}
.desc{
	font-family: "Josefin Sans", sans-serif;
	  font-optical-sizing: auto;
  font-style: normal;
word-wrap: break-word;
	color:white;
	font-size: calc(2vw);
	display:inline;
	grid-row: 2;
	grid-column: 2;
}
.image{
padding:30px;
	width:400px;
	display:inline;
	grid-row: 2;
	grid-column: 1;
	max-height: 400px;
	object-fit: cover;
	object-position: top;
	border-radius:50px;
}

.link{
	text-decoration: none;
color:#8fdef2;
cursor:pointer;
}
#emailwrapper{
	cursor:text;
	position:absolute;
	display:none;
	top:calc(var(--height));
	left:-109%;
	font-size:calc(var(--height) / 3);
	padding:10px;
	margin:0;
	background-color:rgba(0, 0, 0, 20%);
	align-items:center;
	justify-content: center;
	border-radius: 10px;
}
